<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029508318811-noi260bg29ljj0coftfqsupmipiotd8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029508318811-noi260bg29ljj0coftfqsupmipiotd8h</string>
	<key>API_KEY</key>
	<string>AIzaSyAp7AgO1H9zQ4D-hH0yHv_IsLABebI9SUM</string>
	<key>GCM_SENDER_ID</key>
	<string>1029508318811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-3363c</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-3363c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029508318811:ios:a04b833e2dc858f022217e</string>
</dict>
</plist>